@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: url("lake.png") no-repeat;
     background-size: cover;
     background-position: center;
}

.wrapper{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    position: relative;
    margin:30px 0;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.wrapper .register-link{
    text-align: center;
    font-size: 14px;
    margin:20px 0 15px;

}
.wrapper .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.wrapper .register-link p a:hover{
    text-decoration: underline;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ff0000;
}
@media (max-width: 600px) {
    body{
        background-image: url("lake_resized_1200x2400.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .wrapper {
        width: 85vw;
        min-width: unset;
        max-width: 90vw;
        padding: 6vw 3vw;
        border-radius: 6vw;
    }
    .wrapper h1 {
        font-size: 6vw;
    }
    .wrapper .input-box {
        height: 12vw;
        margin: 6vw 0;
    }
    .input-box input {
        font-size: 4vw;
        padding: 3vw 4vw 3vw 3vw;
        border-radius: 6vw;
        height: 10vw;
    }
    .wrapper .btn {
        height: 10vw;
        font-size: 4vw;
        border-radius: 6vw;
    }
    .wrapper .register-link {
        font-size: 3.5vw;
        margin: 6vw 0 4vw;
    }
    label {
        font-size: 3vw;
    }
    .error-message {
        font-size: 4vw;
        padding: 2vw;
    }
    .p{
        font-size: 10px;
    }
}
